# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\npm workspace\phptravel_automation_framework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
